{{> header }}

  <div class="container-fluid min-vh-100 p-0">
    {{> navigation }}

    <div class="container-xl">
      <h1 class="display-1 mt-5">Neuigkeiten</h1>
    </div>

    <div class="container-xl">
      <div class="row">

        {{# post }}
        <div class="col-md-12">
          <a href="/blog/{{ getId }}/{{ getSlug }}" class="link-dark text-decoration-none">
            <div class="card mt-5 bg-light border border-3 border-primary border-bottom-0 border-end-0 border-start-0 shadow rounded">
              <div class="card-body">
                <h2 class="h2">{{ getTitle }}</h2>
              </div>
            </div>
            <span class="ms-3 fw-bold">{{ getPublishedAt }}</span>
          </a>
        </div>
        {{/ post }}

      </div>
    </div>

  </div>
  
{{> footer }}