{{> admin-header }}

  {{> admin-navigation }}

  {{# donation }}

  <div class="container-xl bg-light p-5 h-100">
    <div>
      {{# isSuccess }}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {{/ isSuccess }}

      <h1>Spendenstand</h1>

      <div class="h3">Letzte aktualisierung von: {{ getUser }}</div>

      <div>
        <hr class="featurete-divider">
      </div>
    
      <form action="/donation/update" method="post" enctype="multipart/form-data">
          
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="total">Spendenstand in €:</label>
                <input 
                  type="text"
                  class="form-control"
                  name="total"
                  value="{{ getTotal }}"
                  id="total"
                  required
                >
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="date">Datum:</label>
                <input 
                  type="date"
                  class="form-control"
                  name="date"
                  value="{{ getDate }}"
                  id="date"
                  required
                >
              </div>
            </div>
        </div>
          
        <div>
          <hr class="featurete-divider">
        </div>

        <div class="row">
          <div class="col-6">
            <div>
              <label for="documents" class="form-label">Dokumente hochladen:</label>
              <input 
                type="file" 
                name="documents[]"
                multiple="multiple"
                class="form-control" 
                id="documents"
              >
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="uploaded-files">Hochgeladene dokumente:</label>
              <ul>
                <li>Cras justo odio</li>
                <li>Dapibus ac facilisis in</li>
                <li>Morbi leo risus</li>
                <li>Porta ac consectetur ac</li>
                <li>Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
          
        <div>
          <hr class="featurete-divider">
        </div>

        <div>
          <button class="btn btn-primary">Speichern</button>
        </div>
      </form>
    </div>
  </div>
    
  {{/ donation }}

{{> admin-footer}}