<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#b34041" />
    <meta
      name="keywords"
      content="Plauen, Orgel, Lutherkirche in Plauen, Orgelfreunde Plauen, Orgelfreunde Lutherkirche Plauen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orgelfreunde Plauen in Vogtland</title>

    <link rel="stylesheet" href="assets/css/custom.css">

  </head>
<body style="min-height: 100%; min-height: 100vh;" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <form method="post" action="/login">
          <div class="form-group">
            <label for="username">Login:</label>

            <input 
              type="input" 
              name="username" 
              class="form-control" 
              id="username" 
            >

          </div>
          <div class="form-group">
            <label for="loginPassword">Passwort:</label>

            <input 
              type="password" 
              name="password" 
              class="form-control" 
              id="loginPassword"
            >

          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</body>
</html>