{{> header }}

  <!-- Back to top button -->
  <a href="#banner-content" id="back__to__top" class="back-to-top"></a>

  {{> navigation }}

  <div class="container-xl mt-5">
    <div>
      <h1 class="featurette-heading">Unsere Orgel</h1>
    </div>
  </div>

  <div class="container-xl mt-5 mb-5">
    <hr class="featurete-divider pb-5" />
  </div>

  <div class="container-xl mt-5 mb-5">

    <h2 class="h2">
      Ostdeutsche Sparkassenstiftung und Sparkasse Vogtland fördern
      Restaurierung der Mende-Orgel in der Lutherkirche Plauen
    </h2>
    
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-md-5">
        <img
          src="assets/img/vertrag-unterschrift.jpg"
          class="img-fluid shadow-lg p-3 mb-5 bg-white rounded"
          alt="Orgelprospekt"
        />
      </div>
      <div class="col-md-7 pr-lg-5 pr-sm-1">
        <p>
          Der Bau des Jahrhundertprojekts „Orgel 2022“ in der Lutherkirche 
          Plauen geht voran. Bereits am 1. Oktober 2020 hatten wir den Vertrag 
          mit OBM Wolf geschlossen. Im Februar wurde das Innenleben der Orgel 
          komplett ausgebaut. Inzwischen sind restaurierte Pfeifen schon wieder 
          in unserer Kirche eingelagert. 
        </p>

        <p>
          Dank einer erheblichen Förderung durch die Ostdeutsche Sparkassenstiftung 
          gemeinsam mit der Sparkasse Vogtland konnten wir umdisponieren: die 38 
          Register werden jetzt auf 3 Manuale (statt bisher 2) verteilt. Die Mende 
          nachgebauten Register bilden nun Haupt- und Oberwerk, die romantischen 
          Register kommen extra auf das Schwellwerk. So entsteht eine Orgel, 
          die dem Denkmalgedanke viel weiter verpflichtet ist als bisher, ohne auf 
          die klanglichen Möglichkeiten der Romantik verzichten zu müssen. 
        </p>
      </div>
    </div>
  </div>

  <div class="container-xl">
    <h2>Die neue Wolf-Orgel</h2>

    <div>
      <p>
        Die klangliche Gestaltung der Orgel erfolgt nach Johann Gottlob Mende.
        Verwendbare Register der Firma Jehmlich von 1926 werden nach
        denkmalpflegerischen Gesichtspunkten restauriert und in das Konzept
        eingebunden.
      </p>

      <h5 class="h5">Allgemeine Beschreibung:</h5>
      <p>
        39 (43) klingende Register (I. Manual 13 Register, II. Manual 9 Register, 
        III. Manual 12 Register, 5 eigenständige Pedalregister + 4 Transmissionen 
        aus dem I. Manual)
      </p>

      <p>
        Hauptwerk, Oberwerk und Pedal Schleifladen; Schwellwerk historische Kegelladen; 
        Mechanische Tontraktur, Schwellwerk mechanisch-pneumatische Tontraktur; 
        elektrische Registertraktur
      </p>

      <p>HEUSS-SPS Koppel und Setzer</p>
    </div>
    <div>
      <div class="table-responsive-sm mb-5">
        <table class="table-sm table-bordered table-dark text-nowrap w-100">
          <thead>
            <tr>
              <th>I. MANUAL C – a³ Hauptwerk</th>
              <th>II. MANUAL C-a³ Oberwerk</th>
              <th>III. MANUAL C – a³ Schwellwerk</th>
              <th>PEDAL C – f¹</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Principal 8´</td>
              <td>1. Principal 4´</td>
              <td>1. Gedackt 16´</td>
              <td>1. Principalbaß 16´</td>
            </tr>
            <tr>
              <td>2. Bordun 16´</td>
              <td>2. Gedackt 8´</td>
              <td>2. Geigenprincipal 8´</td>
              <td>2. Subbaß 16´</td>
            </tr>
            <tr>
              <td>3. Viola di Gamba 8´</td>
              <td>3. Quintatoen 8´</td>
              <td>3. Doppelflöte 8´</td>
              <td>3. Quintbaß 10 2/3´</td>
            </tr>
            <tr>
              <td>4. Floete 8´</td>
              <td>4. Rohrflöte 4´</td>
              <td>4. Flauto amabile 8‘</td>
              <td>4. Octavbaß 8´</td>
            </tr>
            <tr>
              <td>5. Rohrflöte 8´</td>
              <td>5. Nasat 2 2/3´</td>
              <td>5. Salicional 8´</td>
              <td>5. Posaune 16´</td>
            </tr>
            <tr>
              <td>6. Octave 4´</td>
              <td>6. Octave 2´</td>
              <td>6. Vox coelestis 8´</td>
              <td><strong>Transmissionen</strong></td>
            </tr>
            <tr>
              <td>7. Gemshorn 4´</td>
              <td>7. Cornett 3fach 4´</td>
              <td>7. Viola 4´</td>
              <td>6. Flöttenbaß 8´</td>
            </tr>
            <tr>
              <td>8. Quinte 2 2/3´</td>
              <td>8. Mixtur 3fach 1 1/3´</td>
              <td>8. Harmonieflöte 4´</td>
              <td>7. Salicetbaß 8´</td>
            </tr>
            <tr>
              <td>9. Octave 2´</td>
              <td>9. Krummhorn 8´</td>
              <td>9. Waldflöte 2´</td>
              <td>8. Octavbaß 4´</td>
            </tr>
            <tr>
              <td>10. Terz 1 3/5</td>
              <td></td>
              <td>10. Harmonia Aetheria 4fach</td>
              <td>9. Trompetenbaß 8´</td>
            </tr>
            <tr>
              <td>11. Mixtur 4fach 2´</td>
              <td></td>
              <td>11. Fagott 16´</td>
              <td>10. Gedackbaß 16´</td>
            </tr>
            <tr>
              <td>12. Trompete 8´</td>
              <td></td>
              <td>12. Oboe 8´</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>13. Unda Maris 8´</td>
              <td></td>
              <td>13. Oboe 4'</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>14. Clarinette 8´</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-xl mt-5 mb-5">
    <hr>
  </div>

  <div class="container-xl mb-5">
    <div class="table-responsive-sm">
      <table class="table-sm table-bordered table-dark text-nowwrap w-100">
        <thead>
          <tr>
            <th>KOPPELN</th>
            <th>OKTAVKOPPELN</th>
            <th>Floating aus III/I</th>
            <th>SPIELHILFEN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Manualkoppel II/I</td>
            <td>Suboktavkoppel III/III</td>
            <td>Fagott 16´</td>
            <td>Tremulanten für II. Manual (frei regelbar)</td>
          </tr>
          <tr>
            <td>Manualkoppel III/I & III/II</td>
            <td>Suboctavkoppel III/I</td>
            <td>Oboe 8´</td>
            <td>Jalousieschweller III. Manual</td>
          </tr>
          <tr>
            <td>Pedalkoppel I/P</td>
            <td>Superoktavkoppel III/III</td>
            <td>Oboe 4´</td>
            <td>Crescendowalze</td>
          </tr>
          <tr>
            <td>Pedalkoppel II/P</td>
            <td>Superoktavkoppel III/II o. III/I</td>
            <th>Floating aus III/II</th>
          </tr>
          <tr>
            <td>Pedalkoppel III/P</td>
            <td>Pedaltenorkoppel III/P 4´</td>
            <th>Floating aus III/III</th>
            <td>Setzeranlage HEUSS-SPS Koppel und Setzer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{{> footer }}
