<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <div class="d-flex">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <span class="navbar-brand mb-0 h1">
        OrgelCMS
      </span>
      <div class="w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1" id="myNavbar">
      <ul class="navbar-nav flex-nowrap">
        <li class="nav-item active">
          <a class="nav-link" href="/users/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/donation">Spendenstand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/user">Benutzer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Abmelden</a>
        </li>
      </ul>
    </div>
</nav>