<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#b34041" />
    <meta
      name="keywords"
      content="Plauen, Orgel, Lutherkirche in Plauen, Orgelfreunde Plauen, Orgelfreunde Lutherkirche Plauen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orgelfreunde Plauen in Vogtland</title>

    <link rel="stylesheet" href="/../assets/css/custom.css">

    <script src="/../assets/js/bundle.js" defer></script>
  </head>

  <body class="bg-light">