<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand ">
      OrgelCMS
    </span>
    <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#myNavbar"
      aria-controls="myNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/users/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/donation">Spendenstand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/user">Benutzer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Abmelden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>