<div class="card mt-3">
        <div class="card-header text-center">
          Module
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Spendenstand
                  <i class="bi bi-currency-euro"></i>
                  <div>
                    <i class="bi bi-currency-euro"></i>
                  </div>
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Neuigkeiten
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Veranstaltugen
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Orgelfreunde
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Galerie
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body">
                  Spenden
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>
          </div>
        </div>
      </div>