<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#b34041" />
    <meta
      name="keywords"
      content="Plauen, Orgel, Lutherkirche in Plauen, Orgelfreunde Plauen, Orgelfreunde Lutherkirche Plauen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orgelfreunde Plauen in Vogtland</title>

    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- SEO -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Plauen, Deutschland",
          "postalCode": "D-08523",
          "streetAddress": "Dobenaustraße 12 (Lutherhaus)"
        },
        "email": "kg.plauen_luther (at) evlks.de",
        "telephone": "(03741) 22 62 32",
        "faxNumber": "(03741) 14 79 20",
        "name": "Orgelfreunde Lutherkirche Plauen"
      }
    </script>

    <script src="assets/js/bundle.js" defer></script>
  </head>

  <body class="lead">
