<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img
        class="navbar-logo"
        src="https://lutherorgel-plauen.de/public/assets/svg/organ-logo-black.svg"
        width="28"
        alt="Logo der Orgelfreunde Plauen."
      />
    </a>
    <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            href="#" 
            id="navbarDropdown1" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
          >
            Spenden/Pfeifenpatenschaften
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" 
              href="assets/files/Spendenstand.pdf" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Spendenstand
            </a>
            <a class="dropdown-item" 
              href="assets/files/Pfeifenübersicht.pdf" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Pfeifenübersicht
            </a>
            <a class="dropdown-item" 
              href="assets/files/Formular-Pfeifenpatenschaft.pdf" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Formular-Pfeifenpatenschaft
            </a>
            <!-- <a class="dropdown-item" 
              href="spendenformular.html" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Online Formular
            </a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            href="#" id="navbarDropdown2" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
          >
            Medien
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="gallerie.html">Bilder</a>
            <a class="dropdown-item" href="videos.html">Videos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            href="#" 
            id="navbarDropdown3" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
          >
            Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" 
              href="http://www.lutherkirche-plauen.de" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Lutherkirche Plauen
            </a>
            <a class="dropdown-item" 
              href="https://www.vogtlaendischer-orgelbau.de/startseite.html" 
              target="_blank"
              rel="noreferrer noopener"
            >
              Vogtländischer Orgelbau
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="veranstaltungen.html">Veranstaltungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="orgelfreunde.html">Orgelfreunde</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/neuigkeiten">Neuigkeiten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="datenschutzerklaerung.html">Datenschutzerklärung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="impressum.html">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>