.vscode/

composer.lock
memory
package-lock.json
/config/env.php

/build/
/data/
/resources/bootstrap/backend/dist/
/resources/bootstrap/backend/node_modules/
/resources/bootstrap/frontend/dist/
/resources/bootstrap/frontend/node_modules/
/code-coverage/
/node_modules/
/public/assets/
/tmp/
/var/caches/mustache/*
/var/caches/php-di/*
/var/caches/phpunit/*
!/var/caches/phpunit/README.md
/var/logs/
/vendor/
