<a href="#" id="card-list"></a>
<section class="card-list bg-success">
  <div class="container-xl">
    <div class="row">

      <div class="col-md-4">
        <a href="orgelfreunde.html" class="text-secondary text-decoration-none">
          <div class="card bg-primary text-light shadow">
            <img src="assets/img/orgelfreunde-card-mobile.jpg" class="card-img-top" alt="Ein Bild der Orgelfreunde Plauen.">
            <div class="card-body">
              <div>
                <h3 class="fs-3">Die Orgelfreunde</h3>
                Im Mai 2018 rief Kantorin Susanne Häußler öffentlich zur Mithilfe
                bei der unumgänglichen Lösung der wachsenden Probleme in der in die
                Jahre gekommenen Orgel in der Lutherkirche auf.
                Ihrem Hilferuf "Unsere Orgel braucht Freunde" folgten am 30. Mai 2018
                rund 20 Interessierte und gründete den Kreis "Orgelfreunde Lutherkirche Plauen"</div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 py-sm-3 py-lg-0">
        <a href="unsere-orgel.html" class="text-secondary text-decoration-none">
          <div class="card bg-primary text-light shadow">
            <img src="assets/img/spieltisch-neu.jpg" class="card-img-top" alt="Bild vom Gutachten von Juli 1925.">
            <div class="card-body">
              <div>
                <h3 class="fs-3">Unsere Orgel</h3>
                Die Orgel der Lutherkirche Plauen hat dieses Jahr ihre "Wiedergeburt" erfahren.
                Das Gesicht der Orgel steht unter Denkmalschutz und musste erhalten bleiben.
                Das Prospekt ist nach Vorne gezogen worden und der neue Spieltisch ist in das
                Prospekt eingearbeitet worden. 2922 Pfeifen, bestehend aus Neu und Alt,
                können so gespielt werden.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="orgelakte.html" class="text-secondary text-decoration-none">
          <div class="card bg-primary text-light shadow">
            <img src="assets/img/organ-history.jpg" class="card-img-top" alt="Bild vom Gutachten von Juli 1925.">
            <div class="card-body">
              <div>
                <h3 class="fs-3">Die Geschichte unserer Orgel</h3>
                Die Plauener Lutherkirche, bis 1883 Bartholomäuskirche genannt,
                entstand 1693-1722 als Gottesackerkirche, wurde bis 1866 als
                solche genutzt und ist seit 1893 Gemeindekirche.
              </div>
              <div>
                Eine Orgel erhielt sie erst 1787 als Schenkung des vermögenden
                Plauener Kaufmanns Carl Heinrich Höffer (1732-1793)
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>