<div class="card mt-3">
        <div class="card-header text-center">
          Module
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <a href="/donation/">
                <div class="card">
                  <div class="card-body text-center">
                    Spendenstand
                  </div>
                  <div class="card-footer bg-primary text-center text-light">
                    weiter
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <a href="/supporter/">
                <div class="card">
                  <div class="card-body text-center">
                    Unterstützer
                  </div>
                  <div class="card-footer bg-primary text-center text-light">weiter</div>
                </div>
              </a>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <a href="/post/">
                <div class="card">
                  <div class="card-body text-center">
                    Neuigkeiten
                  </div>
                  <div class="card-footer bg-primary text-center text-light">weiter</div>
                </div>
              </a>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <a href="/event/">
                <div class="card">
                  <div class="card-body text-center">
                    Veranstaltungen
                  </div>
                  <div class="card-footer bg-primary text-center text-light">weiter</div>
                </div>
              </a>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <a href="#">
                <div class="card">
                  <div class="card-body text-center">
                    Orgelfreunde
                  </div>
                  <div class="card-footer bg-primary text-center text-light">weiter</div>
                </div>
              </a>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-xl-2 mb-3">
              <div class="card">
                <div class="card-body text-center">
                  Galerie
                </div>
                <div class="card-footer bg-primary text-center text-light">weiter</div>
              </div>
            </div>

          </div>
        </div>
      </div>