  <footer class="bg-light text-primary">
    <div class="container-xl pt-5 pb-5">
      <div class="row">
        <div class="col-md-6">
          <a class="d-flex justify-content-center" href="/" title="Startseite">
            <img src="assets/svg/organ-logo-bright.svg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <div class="contact-data">
            <h3>Kontakt:</h3>
            <div>Ev.-Luth.Lutherkirchgemeinde</div>
            <div>Dobenaustraße 12 (Lutherhaus)</div>
            <div>08523 Plauen</div>

            <div>
              <a href="tel:03741226232" class="text-primary">Tel.: 03741 / 22 62 32</a>
            </div>

            <div>
              <a href="fax:03741147920" class="text-primary">Fax.: 03741 / 14 79 20</a>
            </div>

            <div>
              <a class="text-primary" href="mailto:kg.plauen_luther@evlks.de">Email schreiben</a>
            </div>

            <div>
              <a href="https://www.lutherkirche-plauen.de" class="text-primary">
                lutherkirche-plauen.de
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>