  <footer class="bg-primary">
    <div class="container-xl pt-5 pb-5">
      <div class="row">
        <div class="col-md-4">
          <a class="footer-brand" href="/" title="Startseite">
            <img src="assets/svg/organ-logo-bright.svg" alt="" />
          </a>
        </div>
        <div class="col-md-4">
          <h3>Kontakt:</h3>
          <div class="lead">Ev.-Luth.Lutherkirchgemeinde</div>
          <div class="lead">Dobenaustraße 12 (Lutherhaus)</div>
          <div class="lead">08523 Plauen</div>
          <br />
          <div>
            <a href="tel:03741226232" class="lead">Tel.: 03741 / 22 62 32</a>
          </div>
          <div>
            <a href="fax:03741147920" class="lead">Fax.: 03741 / 14 79 20</a>
          </div>
          <div>
            <a class="lead" href="mailto:kg.plauen_luther@evlks.de"
              >Email schreiben</a
            ><br />
            <a href="https://www.lutherkirche-plauen.de" class="lead"
              >lutherkirche-plauen.de</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <h3>Bankverbindung:</h3>
          <div class="lead">Ev.Luth.Lutherkirche Plauen</div>
          <div class="lead">Sparkasse Vogtland</div>
          <div class="lead">IBAN: DE10 8705 8000 3000 0051 60</div>
          <div class="lead">BIC/SWIFT: WELA DED1 PLX</div>
          <div class="lead">Zahlungsgrund: Orgel</div>
          <div class="lead">Bitte Name und Adresse angeben.</div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>