<div class="container-xl">
    <div>
      <h2 class="text-center text-light font-weight-light pb-3">Aus der Bildergalerie</h2>
    </div>
    <div class="row">
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_0195.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_0195_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_0235.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_0235_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_9282.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_9282_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_8563.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_8563_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_8579.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_8579_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a href="assets/img/gallery/IMG_8596.JPG" title="">
          <figure>
            <picture>
                <img src="assets/img/gallery/IMG_8596_small.JPG" 
                  class="img-fluid" 
                  alt=""
                >
            </picture>
            <figcaption></figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="text-center">
      <a href="gallerie.html" class="btn btn-light mt-2">Zur Galerie »</a>
    </div>
  </div>