<div class="container-xl">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header text-light bg-primary">Veranstaltungen</div>
        <div class="table-responsive-sm">
          <table class="table table-sm">
            <tbody>
            {{# mainpageevents }}
            <tr>
              <td>
                <a href="/veranstaltungen.html">{{ getTitle }}</a>
              </td>
              <td>{{ getEventDateFormated }}</td>
            </tr>
            {{/ mainpageevents }}
            </tbody>
          </table>
        </div>

        {{^ mainpageevents }}
        <div class="h5">
          Momentan finden keine weiteren Veranstaltungen statt.
        </div>
        <div>Das heißt aber nicht das es in Zukunft keine Veranstaltungen mehr geben wird. Es wird sie geben und wir freuen uns drauf.</div>
        <div>Wir hoffen auf ihr Verständnis.</div>
        {{/ mainpageevents }}
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header text-light bg-primary">Neuigkeiten</div>
        <div class="table-responsive-sm">
          <table class="table table-sm">
            <tbody>
            {{# mainpagepost }}
            <tr>
              <td>
                <a href="/blog/{{ getId }}/{{ getSlug }}">{{ getTitle }}</a>
              </td>
              <td>{{ getPublishedAt }}</td>
            </tr>
            {{/ mainpagepost }}
            </tbody>
          </table>
        </div>
      </div>
      <a href="/neuigkeiten.html" class="ms-1">Weitere Neuigkeiten</a>
    </div>
  </div>
</div>
