<section class="story-intro min-vh-100 bg-light text-primary fs-4">
    <div class="container-xl">
      <h2 class="fs-1">Faszination Orgel</h2>
      <p>
        Orgeln gehören zu unserer Kulturlandschaft und sind aus dem geistlichen 
        und weltlichen Musikleben nicht wegzudenken. Wer hat nicht die berühmte 
        d-Moll-Toccata von Johann Sebastian Bach im Ohr?
      </p>
  
      <p>
        Mozart hat die Orgel einmal als den „König der Instrumente“ bezeichnet. 
        Viele verschiedenen Pfeifenreihen (Register) geben ihr einen unverwechselbaren 
        und vielfältigen Klang. Laut und leise, weich und kräftig, säuselnd und schnarrend…
      </p>
  
      <p>
        Wie bedeutend gerade die deutsche Orgelbautradition und die deutsche
        Orgellandschaft sind,
        <a
          href="https://www.unesco.de/kultur-und-natur/immaterielles-kulturerbe/immaterielles-kulturerbe-weltweit/orgelbau-und-orgelmusik"
          target="_blank"
          rel="noreferrer noopener"
          class="text-secondary"
        >
          zeigt die Aufnahme in das immaterielle Weltkulturerbe der UNESCO.</a
        >
      </p>
      <p>
        Die bisherige Orgel in der Lutherkirche Plauen hatte eine bewegte Geschichte. 
        Nun war sie leider verschlissen und nicht erhaltenswert.
      </p>
  
      <p">
        Deshalb hatten wir Großes vor: wir wollten der Lutherkirche zum 300.
        und der Stadt Plauen zum 900. Geburtstag etwas Bleibendes schenken –
        eine neue Orgel.
      </p>
    </div>
  </section>