<section class="story-part-one">
  <div class="container-xl">
    <div>
      <div class="row flex-md-row-reverse flex-lg-row-reverse align-items-center">
        <div class="col-md-5">
          <img src="assets/img/Orgelprospekt.jpg" class="img-fluid float-lg-end shadow-lg mb-5 rounded" alt="Orgelprospekt" />
        </div>
        <div class="col-md-7 pe-lg-5 pe-sm-1">
          <h2 class="text-muted mb-4">Vom Orgelprospekt ...</h2>
          <p>
            Den <strong>Orgelprospekt</strong> das "Gesicht" der Orgel, hat
            1834 der Leipziger Orgelbauer Johann Gottlob Mende geschaffen. Von
            dem Werk, das dahinter stand, war fast nichts mehr vorhanden.
          </p>
          <p>
            Der denkmalgeschützte Orgelprospekt sollte erhalten bleiben und
            weitestgehend seine ursprüngliche Gestalt zurück bekommen.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8516.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8516_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8497.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8497_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8499.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8499_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8524.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8524_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8579.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8579_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-2">
          <a href="assets/img/gallery/IMG_8596.JPG" title="">
            <figure>
              <picture>
                  <img src="assets/img/gallery/IMG_8596_small.JPG" 
                    class="img-fluid shadow rounded" 
                    alt=""
                  >
              </picture>
              <figcaption></figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    
  </div>
</section>