<section class="story-part-two bg-secondary">
    <div class="container-xl">
      <div class="row align-items-center">
        <div class="col-md-5">
          <img
            src="assets/img/Orgelprojekt.jpg"
            class="img-fluid shadow-lg mb-1 rounded"
            alt="Orgelprospekt"
          />
        </div>
        <div class="col-md-7 ps-lg-5 ps-sm-1">
          <h2 class="text-success" id="element">... zum Orgelprojekt</h2>
          <p class="text-light">
            2018 wagten wir die Entscheidung: Orgelneubau! Ihr waren viele 
            Überlegungen, Untersuchungen, Kostenangebote usw. vorausgegangen.
          </p>
          <p class="text-light">
            Auch dann folgten noch viele Überlegungen, wie die neue Orgel 
            gestaltet werden soll. Erst zweimanualig angedacht, konnten wir nun, 
            nach großzügiger Unterstützung durch die Ostdeutsche Sparkassenstiftung 
            und die Sparkasse Vogtland und der Landeskirche Sachsen den Traum einer 
            dreimanualigen Orgel verwirklichen.
          </p>
          <p class="text-light">
            Die neue Orgel wird im Haupt- und Oberwerk die ursprüngliche Mende-Orgel 
            „kopieren“, im Schwellwerk sind romantische Register dazu gekommen, so 
            dass sowohl Barock- als auch romantische und moderne Musik auf der Orgel 
            stilecht wiedergegeben werden können.
          </p>
          <p class="text-light">
            Moderne Spielhilfen (Setzerkombination, Koppeln, Suboktavkoppeln, Floating) 
            ermöglichen leichte und klanglich vielfältige Bedienung.
          </p>
        </div>
      </div>
    </div>
  </section>