<div class="story">
    <div class="pb-1">
      <div class="container-xl">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-md-4">
            <img
              src="assets/img/restaurierte-pfeifen.jpg"
              class="img-fluid shadow-lg p-3 mb-1 bg-white rounded mt-md-2 mt-lg-5"
              alt="Orgelprospekt"
            />
          </div>
          <div class="col-md-8 pe-lg-5 pe-sm-1">
            <h2 class="text-muted">Was ist bereits realisiert?</h2>
            <p>
              Nach dem vollständigen Ausbau der bisherigen Orgel im Februar 2021 
              wurden die meisten Arbeiten erst einmal in der Werkstatt des 
              Vogtländischen Orgelbaus Wolf getätigt. So wurden die Pfeifen, 
              die wiederverwendet werden, gereinigt und restauriert. 
              Neue Register sind bereits entstanden.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-1">
      <div class="container-xl">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-md-8 ps-lg-5 ps-sm-1">
            <p>
              Der Prospekt wurde 55 cm nach vorn, an den ursprünglichen Platz, 
              gezogen, fehlende Füllungen gefertigt. Der Prospekt wird zur Zeit 
              durch die Fa. Brasche restauriert. Ebenfalls am Ort wird der große 
              Balg restauriert.
            </p>
          </div>
          <div class="col-md-4">
            <img
              src="assets/img/prospekt-vorgeschoben.jpg"
              class="img-fluid shadow-lg p-3 mb-1 bg-white rounded"
              alt="Orgelprospekt"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="pb-1">
      <div class="container-xl">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-md-4">
            <img
              src="assets/img/arbeitseinsatz.jpg"
              class="img-fluid shadow-lg p-3 mb-5 bg-white rounded"
              alt="Orgelprospekt"
            />
          </div>
          <div class="col-md-8 pe-lg-5 pe-sm-1">
            <p>
              Viele Hintergrundarbeiten sind ebenfalls in den letzten Monaten 
              geschehen: Elektrik-, Heizungs, Maurer- und Malerarbeiten in den 
              Orgelräumen; dank fleißiger Ehrenamtlichen wurden Abbruch- und 
              Fußbodenarbeiten geleistet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>