<section>
  <div class="container-xl">
    <div>
      <div class="row flex-md-row-reverse flex-lg-row-reverse align-items-center">
        <div class="col-md-5">
          <img src="assets/img/Orgelprospekt.jpg" class="img-fluid float-lg-end shadow-lg mb-5 mb-lg-0 rounded"
            alt="Orgelprospekt">
        </div>
        <div class="col-md-7 pe-lg-5 pe-sm-1">
          <h2 class="text-muted mb-4">Vom Orgelprospekt ...</h2>
          <p>
            Den <strong>Orgelprospekt</strong> das "Gesicht" der Orgel, hat
            1834 der Leipziger Orgelbauer Johann Gottlob Mende geschaffen. Von
            dem Werk, das dahinter stand, war fast nichts mehr vorhanden.
          </p>
          <p>
            Der denkmalgeschützte Orgelprospekt sollte erhalten bleiben und
            weitestgehend seine ursprüngliche Gestalt zurück bekommen.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>