{{> header }}

{{> navigation }}

<div class="container-fluid">
  <div class="row p-0 min-vh-100">
    <div class="col-md-6 p-0">
      <div class="hero">
        <div>
          <div class="text-primary fs-3">Willkommen bei den</div>
          <div class="display-3 text-light">Orgelfreunde Plauen</div>
          <a href="#card-list" class="btn btn-primary text-light mt-3">Jetzt entdecken</a>
        </div>
      </div>

    </div>
    <div class="col-md-6 p-0">
      <div class="jumbotron"></div>
    </div>
  </div>
</div>

{{> card-list }}

{{> story-intro }}

{{> story-part-one }}

{{> story-part-two }}

{{> story-result }}

{{> story-finish }}

{{> footer }}