<section>
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-3">
        <div class="card shadow border-0 text-center mb-4">
          <div class="card-body p-4">
            <h2 class="h4 text-center mb-4">Veranstaltungen</h2>

            <div class="mb-3">
              <a href="/event/new" class="btn btn-primary w-100">Erstellen</a>
            </div>

            <div class="mb-3">
              <a href="/event/all" class="btn btn-secondary w-100">Alle anzeigen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-danger w-100">Einstellungen</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card shadow border-0 text-center mb-4">
          <div class="card-body p-4">
            <h2 class="h4 text-center mb-4">Bilder</h2>

            <div class="mb-3">
              <a href="#" class="btn btn-primary w-100">Hochladen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-secondary w-100">Alle anzeigen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-danger w-100">Einstellungen</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card shadow border-0 text-center mb-4">
          <div class="card-body p-4">
            <h2 class="h4 text-center mb-4">Videos</h2>

            <div class="mb-3">
              <a href="#" class="btn btn-primary w-100">Hochladen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-secondary w-100">Alle anzeigen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-danger w-100">Einstellungen</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card shadow border-0 text-center mb-4">
          <div class="card-body p-4">
            <h2 class="h4 text-center mb-4">Dokumente</h2>

            <div class="mb-3">
              <a href="#" class="btn btn-primary w-100">Hochladen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-secondary w-100">Alle anzeigen</a>
            </div>

            <div class="mb-3">
              <a href="#" class="btn btn-danger w-100">Einstellungen</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>