.jumbotron {
    background-image: url('/assets/img/banner-main-mobile.jpg');
    background-size: cover;
    height: 90vh;
    padding: 0em !important
}

@media screen and (min-width: 768px) {
    .jumbotron {
        background-image: url('/assets/img/banner-main-tablet.jpg');
        height: 94vh;
        border-bottom: 4px solid #b34041;
    }
}

@media screen and (min-width: 1200px) {
    .jumbotron {
        background-image: url('/assets/svg/banner-doodle.svg');
        background-size: cover;
        height: 80vh;
    }
}

.jumbotron-divider {
    background-color: ghostwhite;
}

a.btn-jumbotron {
    color: ghostwhite;
    border: 2px solid ghostwhite;
}

a.btn-jumbotron:hover {
    background-color: ghostwhite;
    color: black;
}