{{> header }}

  <div class="min-vh-100">
    
    {{> navigation }}

    <div class="container-xl">
      <div style="height: 5em;"></div>
      <h1 class="display-3 my-5">Impressum</h1>
    </div>


    <div class="position-relativemin-vh-100">
      <div class="position-absolute top-50 start-50 translate-middle w-100">
        <div class="container-xl">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2>Inhaber</h2>
                </div>
                <div class="card-body">
                  <div class="lead">Orgelfreunde Lutherkirche Plauen</div>
                  <div class="lead">Ev.-Luth.Lutherkirchgemeinde</div>
                  <div class="lead">Dobenaustrasse 12 (Lutherhaus)</div>
                  <div class="lead">08523 Plauen</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2>Kontakt</h2>
                </div>
                <div class="card-body">
                  <div>
                    <a href="tel:03741226232" class="text-secondary">Tel.: 03741 / 22 62 32</a>
                  </div>
                  <div>
                    <a href="fax:03741147920" class="text-secondary">Fax.: 03741 / 14 79 20</a>
                  </div>
                  <div>
                    <a class="text-secondary" href="mailto:kg.plauen_luther@evlks.de">Email schreiben</a><br>
                    <a href="https://www.lutherkirche-plauen.de" class="text-secondary">lutherkirche-plauen.de</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  </div>