{{> header }}


<!-- Back to top button -->
<a href="#banner-content" id="back__to__top" class="back-to-top"></a>

{{> navigation }}

<div class="container-xl">
  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center display-1">
      <span>4</span>
      <img
        style="height: 1.5em"
        src="assets/svg/Orgel-logo-black.svg"
        alt="Das Logo der Orgelfreunde."
      />
      <span>4</span>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center display-4">
      Seite leider nicht gefunden.
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center display-5">
      <a href="index.html"
        ><span>&raquo;</span>Zurück zur Startseite<span>&laquo;</span></a
      >
    </div>
    <div class="col-md-3"></div>
  </div>

{{> footer }}
