{{> backend-header }}

  {{> admin-navigation }}

  <div class="container-xl p-md-5 h-100">

    <h1>Neue Veranstaltung</h1>

    <div>
      <hr class="featurete-divider">
    </div>

    <form action="/event/create" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="eventTitle" class="form-label">Event-Titel:</label>
        <input type="text" 
          name="title" 
          class="form-control bg-success" 
          id="eventTitle"
          autofocus
          required
        >
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
          <label for="documents" class="form-label">Bild hochladen: *</label>
          <input 
            type="file" 
            name="picture"
            multiple="multiple"
            class="form-control bg-success" 
            id="documents"
          >
          <div id="tip" class="form-text">* Optional.</div>
        </div>
        <div class="col-sm-12 col-md-3">
          <label for="eventPlace" class="form-label">Ort:*</label>
          <input type="text" name="place" class="form-control bg-success" id="eventPlace">
        </div>
        <div class="col-sm-12 col-md-3">
          <label for="eventDate" class="form-label">Datum:</label>
          <input type="datetime-local" 
            name="event_date" 
            class="form-control bg-success" 
            id="eventDate" 
            required
          >
        </div>
      </div>

      <div class="mb-3">
        <label for="default-editor" class="form-label">Beschreibung:</label>
        <textarea name="content" class="form-control" id="default-editor" rows="10"></textarea>
      </div>

      <div class="form-check form-switch">
        <label for="is_published" class="form-check-label">Veröffentlichen. Wenn nicht aktiviert, wird die Veranstaltung nicht öffentlich angezeigt.
          Dies ist nützlich wenn sie eine Veranstaltung noch Planen, speichern aber noch nicht veröffentlichen wollen.
        </label>
        <input class="form-check-input bg-success" type="checkbox" name="is_published" role="switch" id="is_published">
      </div>
      
      <div>
        <hr class="featurete-divider">
      </div>

      <button class="btn btn-primary" type="submit">Speichern</button>
    </form>
  </div>

{{> admin-footer }}