{{> backend-header }}

  {{> admin-navigation }}

  <div class="container-sm container-xl p-md-5 mb-5 h-100">

    {{# event }}

    {{# isSuccess }}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {{/ isSuccess }}
    
    <h1>Veranstaltung</h1>

    <div>
      <hr class="featurete-divider">
    </div>

    <form action="/event/update" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="eventTitle" class="form-label">Event-Titel:</label>
        <input type="text" 
          name="title" 
          value="{{ getTitle }}"
          class="form-control bg-success" 
          id="eventTitle"
          autofocus
          required
        >
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
          <label for="documents" class="form-label">Bild hochladen: *</label>
          <input 
            type="file" 
            name="picture"
            multiple="multiple"
            class="form-control bg-success" 
            id="documents"
          >
          <div id="tip" class="form-text text-light">* Optional.</div>
        </div>

        <div class="col-sm-12 col-md-3">
          <label for="eventPlace" class="form-label">Ort:*</label>
          <input 
            type="text" 
            name="place" 
            value="{{ getPlace }}" 
            class="form-control bg-success" 
            id="eventPlace"
          >
        </div>

        <div class="col-sm-12 col-md-3">
          <label for="eventDate" class="form-label">Datum:</label>
          <input type="datetime-local" 
            name="event_date" 
            value="{{ getEventDateFormated }}"
            class="form-control bg-success" 
            id="eventDate" 
            required
          >
        </div>
      </div>

      <div class="mb-3">
        <label for="default-editor" class="form-label">Beschreibung:</label>
        <textarea 
          name="content" 
          class="form-control" 
          id="default-editor" 
          rows="10"
        >
          {{ getContent }}
        </textarea>
      </div>

      <div class="form-check form-switch">
        <label for="publish" class="form-check-label">Veröffentlichen. Wenn nicht aktiviert, wird die Veranstaltung nicht öffentlich angezeigt.
          Dies ist nützlich wenn sie eine Veranstaltung noch Planen, speichern aber noch nicht veröffentlichen wollen.
        </label>

        {{# isPublished }}
        <input class="form-check-input" type="checkbox" name="is_published" role="switch" id="publish" checked>
        {{/ isPublished }}
        {{^ isPublished }}
        <input class="form-check-input" type="checkbox" name="is_published" role="switch" id="publish">
        {{/ isPublished }}
      </div>
      
      <div>
        <hr class="featurete-divider">
      </div>

      <input type="hidden" name="id" value="{{ getId }}">

      <button class="btn btn-primary" type="submit">Speichern</button>
      <a href="/event/delete/{{ getId }}" class="btn btn-warning">Löschen</a>
    </form>
    
  </div>

  {{/ event }}

{{> admin-footer }}