{{> header }}
  
  <div class="min-vh-100">
    {{> navigation }}

    <div class="container-xl">
      <h1 class="display-1 mt-5">Veranstaltungen</h1>
    </div>

    <div class="container-xl">

      <div>
        <hr class="featurete-divider mt-5 mb-5">
      </div>
  
      {{# events }}
  
      <div class="card mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/placeholder.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ getTitle }}</h5>
              <p class="card-text">{{{ getDesc }}}</p>
              <p class="card-text">
                <small class="text-muted">{{ getEventDateFormated }} Uhr</small>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      {{/ events }}
      {{^ events }}
        <div class="h2">
          Momentan finden keine weiteren Veranstaltungen statt.
        </div>
        <div>Weiteres können sie unter, <a href="https://www.lutherorgel-plauen.de/blog/1/luft-f%C3%BCr-2922-pfeifen">https://www.lutherorgel-plauen.de/blog/1/luft-für-2922-pfeifen</a> lesen.</div>
        <div>Das heißt aber nicht das es in Zukunft keine Veranstaltungen mehr geben wird. Es wird sie geben und wir freuen uns drauf.</div>
        <div>Wir hoffen auf ihr Verständnis.</div>
        <div class="h5 mt-3">Orgelfreunde Plauen</div>
      {{/ events }}
  
    </div>

  </div>  

{{> footer }}