{{> header }}

  <div class="bg-secondary text-light">
    <!-- Back to top button -->
    <a href="#banner-content" id="back__to__top" class="back-to-top"></a>

    {{> navigation }}

    <div class="container-xl">
      <div style="height: 5em;"></div>
      <h1 class="display-3 my-5">Die Bilder der Orgel der Lutherkirche Plauen</h1>
    </div>

    <section>
      <div class="container-xl">
        <div>
          <h3 class="featurette-heading pb-3">Aktuelle Bilder</h3>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0002.jpg"
                  class="text-light text-decoration-none"
                  title="Mitarbeiter der Firma Vogtländischer Orgelbau Thomas Wolf beim Abtransport des Spieltisches"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_small.jpg"
                        class="img-fluid"
                        alt="Mitarbeiter der Firma Vogtländischer Orgelbau Thomas Wolf beim Abtransport des Spieltisches"
                      >
                    </picture>
                    <figcaption>
                      Mitarbeiter der Firma Vogtländischer Orgelbau Thomas Wolf
                      beim Abtransport des Spieltisches
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0004.jpg"
                  class="text-light text-decoration-none"
                  title="Abtransport des Spieltisches"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_02_small.jpg"
                        class="img-fluid"
                        alt="Abtransport des Spieltisches"
                      >
                    </picture>
                    <figcaption>Abtransport des Spieltisches</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0011.jpg"
                  class="text-light text-decoration-none"
                  title="Abtransport des Spieltisches"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_04_small.jpg"
                        class="img-fluid"
                        alt="Abtransport des Spieltisches"
                      >
                    </picture>
                    <figcaption>Abtransport des Spieltisches</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0016.jpg"
                  class="text-light text-decoration-none"
                  title="Abtransport des Spieltisches"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_05_small.jpg"
                        class="img-fluid"
                        alt="Abtransport des Spieltisches"
                      >
                    </picture>
                    <figcaption>Abtransport des Spieltisches</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0017.jpg"
                  class="text-light text-decoration-none"
                  title="Abtransport der Windladen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_06_small.jpg"
                        class="img-fluid"
                        alt="Abtransport der Windladen"
                      >
                    </picture>
                    <figcaption>Abtransport der Windladen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG-20210324-WA0018.jpg"
                  class="text-light text-decoration-none"
                  title="Abtransport der Windladen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG-20210324_07_small.jpg"
                        class="img-fluid"
                        alt="Abtransport der Windladen"
                      >
                    </picture>
                    <figcaption>Abtransport der Windladen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>

        <hr class="featurete-divider">

        <div>
          <h3 class="featurette-heading pb-3">
            Bilder vom Ausbau der bisherigen Orgel
          </h3>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9244.JPG"
                  class="text-light text-decoration-none"
                  title="Der Ausbau beginnt mit den Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9244_small.JPG"
                        class="img-fluid"
                        alt="Der Ausbau beginnt mit den Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>
                      Der Ausbau beginnt mit den Prospektpfeifen
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9249.JPG"
                  class="text-light text-decoration-none"
                  title="Der Ausbau beginnt mit den Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9249_small.JPG"
                        class="img-fluid"
                        alt="Der Ausbau beginnt mit den Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>
                      Der Ausbau beginnt mit den Prospektpfeifen
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9250.JPG"
                  class="text-light text-decoration-none"
                  title="Der Ausbau beginnt mit den Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9250_small.JPG"
                        class="img-fluid"
                        alt="Der Ausbau beginnt mit den Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>
                      Der Ausbau beginnt mit den Prospektpfeifen
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9261.JPG"
                  class="text-light text-decoration-none"
                  title="Der Ausbau beginnt mit den Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9261_small.JPG"
                        class="img-fluid"
                        alt="Der Ausbau beginnt mit den Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>
                      Der Ausbau beginnt mit den Prospektpfeifen
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9265.JPG"
                  class="text-light text-decoration-none"
                  title="Regal mit ausgebauten Pfeifen, im Hintergrund die Schallbecher der Trompete 8´"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9265_small.JPG"
                        class="img-fluid"
                        alt="Regal mit ausgebauten Pfeifen, im Hintergrund die Schallbecher der Trompete 8´"
                      >
                    </picture>
                    <figcaption>
                      Regal mit ausgebauten Pfeifen, im Hintergrund die
                      Schallbecher der Trompete 8´
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9267.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9267_small.JPG"
                        class="img-fluid"
                        alt=""
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9274.JPG"
                  class="text-light text-decoration-none"
                  title="Blick zu den Pfeifen des 2. Manuals"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9274_small.JPG"
                        class="img-fluid"
                        alt="Blick zu den Pfeifen des 2. Manuals"
                      >
                    </picture>
                    <figcaption>Blick zu den Pfeifen des 2. Manuals</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9278.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9278_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9281.JPG"
                  class="text-light"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9281_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9282.JPG"
                  class="text-light text-decoration-none"
                  title="Holzpfeifen, die wiederverwendet werden, ganz links die original Mende-Pfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9282_small.JPG"
                        class="img-fluid"
                        alt="Holzpfeifen, die wiederverwendet werden, ganz links die original Mende-Pfeifen"
                      >
                    </picture>
                    <figcaption>
                      Holzpfeifen, die wiederverwendet werden, ganz links die
                      original Mende-Pfeifen
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9283.JPG"
                  class="text-light text-decoration-none"
                  title="Lagerung der Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9283_small.JPG"
                        class="img-fluid"
                        alt="Lagerung der Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>Lagerung der Prospektpfeifen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9286.JPG"
                  class="text-light text-decoration-none"
                  title="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9286_small.JPG"
                        class="img-fluid"
                        alt="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                      >
                    </picture>
                    <figcaption>
                      Lagerung der größten Pedalpfeifen im Kirchenschiff
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9289.JPG"
                  class="text-light text-decoration-none"
                  title="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9289_small.JPG"
                        class="img-fluid"
                        alt="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                      >
                    </picture>
                    <figcaption>
                      Lagerung der größten Pedalpfeifen im Kirchenschiff
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9291.JPG"
                  class="text-light text-decoration-none"
                  title="Original Bahnaufkleber von 1932"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9291_small.JPG"
                        class="img-fluid"
                        alt="Original Bahnaufkleber von 1932"
                      >
                    </picture>
                    <figcaption>Original Bahnaufkleber von 1932</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9293.JPG"
                  class="text-light text-decoration-none"
                  title="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9293_small.JPG"
                        class="img-fluid"
                        alt="Lagerung der größten Pedalpfeifen im Kirchenschiff"
                      >
                    </picture>
                    <figcaption>
                      Lagerung der größten Pedalpfeifen im Kirchenschiff
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9296.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9296_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9297.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9297_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9305.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9305_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9306.JPG"
                  class="text-light text-decoration-none"
                  title="Die Pfeifen des 1. Manuals sind komplett ausgebaut"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9306_small.JPG"
                        class="img-fluid"
                        alt="Die Pfeifen des 1. Manuals sind komplett ausgebaut"
                      >
                    </picture>
                    <figcaption>
                      Die Pfeifen des 1. Manuals sind komplett ausgebaut
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9307.JPG"
                  class="text-light text-decoration-none"
                  title="die „Windautobahn“ an der hinteren Orgelwand"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9307_small.JPG"
                        class="img-fluid"
                        alt="die „Windautobahn“ an der hinteren Orgelwand"
                      >
                    </picture>
                    <figcaption>
                      Die „Windautobahn“ an der hinteren Orgelwand
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9311.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9311_small.JPG" 
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9313.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9313_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9315.JPG"
                  class="text-light text-decoration-none"
                  title="Leere Windladen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9315_small.JPG"
                        class="img-fluid"
                        alt="Leere Windladen"
                      >
                    </picture>
                    <figcaption>Leere Windladen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9317.JPG"
                  class="text-light text-decoration-none"
                  title="Leere Windladen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9317_small.JPG"
                        class="img-fluid"
                        alt="Leere Windladen"
                      >
                    </picture>
                    <figcaption>Leere Windladen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9322.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9322_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9323.JPG"
                  class="text-light text-decoration-none"
                  title="Ehemaliger Windkanal vom Blasebalg ins 1. Manual"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9323_small.JPG"
                        class="img-fluid"
                        alt="Ehemaliger Windkanal vom Blasebalg ins 1. Manual"
                      >
                    </picture>
                    <figcaption>
                      Ehemaliger Windkanal vom Blasebalg ins 1. Manual
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9325.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9325_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9334.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9334_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9338.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9338_small.JPG" 
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9341.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9341_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9346.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9346_small.JPG"
                        class="img-fluid"
                        alt=""
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9347.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9347_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9351.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9351_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9354.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9354_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9356.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9356_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9358.JPG"
                  class="text-light text-decoration-none"
                  title="Leere Pedalwindladen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9358_small.JPG"
                        class="img-fluid"
                        alt="Leere Pedalwindladen"
                      >
                    </picture>
                    <figcaption>Leere Pedalwindladen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_9367.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9367_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_9369.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9369_small.JPG"
                        class="img-fluid"
                        alt=""
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_9373.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9373_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_9381.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_9381_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_9387.JPG"
                  class="text-light text-decoration-none"
                  title="ausgelagerte Prospektpfeifen"
                >
                  <figure>
                    <picture>
                      <img
                        src="assets/img/gallery/IMG_9387_small.JPG"
                        class="img-fluid"
                        alt="ausgelagerte Prospektpfeifen"
                      >
                    </picture>
                    <figcaption>ausgelagerte Prospektpfeifen</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4"></div>
        </div>

        <hr class="featurette-divider">

        <div>
          <h3 class="featurette-heading pb-3">
            Bilder vom Zustand der ehemaligen Orgel
          </h3>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8516.JPG"
                  class="text-light text-decoration-none"
                  title="Die letzte Generalüberholung und Umbau fand 1979, durch den Orgelbauer Johannes Schubert aus Dresden, statt."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8516_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Die letzte Generalüberholung und Umbau fand 1979, durch
                      den Orgelbauer Johannes Schubert aus Dresden, statt.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8491.JPG"
                  class="text-light text-decoration-none"
                  title="Der derzeitige Spieltisch wurde 1979 nicht überholt."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8491_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Der derzeitige Spieltisch wurde 1979 nicht überholt.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8497.JPG"
                  class="text-light text-decoration-none"
                  title=" Nicht mehr gebrauchte Registerwippen wurden zugeklebt."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8497_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Nicht mehr gebrauchte Registerwippen wurden zugeklebt.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8499.JPG"
                  class="text-light text-decoration-none"
                  title="Die Klaviatur der Orgel hat sich mit der Zeit abgenutzt und vergilbt."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8499_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8507.JPG"
                  class="text-light text-decoration-none"
                  title="Die Walzenanlagen sind nicht mehr vorhanden."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8507_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Die Walzenanlagen sind nicht mehr vorhanden.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8524.JPG"
                  class="text-light text-decoration-none"
                  title="Korrodierte Stimmkrücken des Krummhorns."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8524_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Korrodierte Stimmkrücken des Krummhorns.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8538.JPG"
                  class="text-light text-decoration-none"
                  title="Caption for gallery item 1"
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8538_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8563.JPG"
                  class="text-light text-decoration-none"
                  title="Im inneren der Orgel hat sich der Schimmel bereits weit verbreitet."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8563_small.JPG"
                        class="img-fluid"
                        alt=""
                      >
                    </picture>
                    <figcaption>
                      Im Inneren der Orgel hat sich der Schimmel bereits weit
                      verbreitet.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8579.JPG"
                  class="text-light text-decoration-none"
                  title="Schwer gängige, z.T. stillgelegte Bretter der Schwellwand."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8579_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Schwer gängige, z.T. stillgelegte Bretter des Schwellwand.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_8591.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8591_small.JPG" 
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a href="assets/img/gallery/IMG_8592.JPG"
                  class="text-light text-decoration-none"
                  title=""
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8592_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption></figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <div class="gallery">
                <a
                  href="assets/img/gallery/IMG_8596.JPG"
                  class="text-light text-decoration-none"
                  title="Bleikondukten waren zu DDR-Zeiten Mangelware, der
                            Kunststoff der dafür eingesetzten Plastikschläuche zersetzt sich schneller."
                >
                  <figure>
                    <picture>
                      <img 
                        src="assets/img/gallery/IMG_8596_small.JPG"
                        class="img-fluid"
                        alt="" 
                      >
                    </picture>
                    <figcaption>
                      Bleikondukten waren zu DDR-Zeiten Mangelware, der
                      Kunststoff der dafür eingesetzten Plastikschläuche
                      zersetzt sich schneller.
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{> footer }}
