{{> header }}

  <div class="bg-dark text-light">

    <!-- Back to top button -->
    <a href="#banner-content" id="back__to__top" class="back-to-top"></a>

    {{> navigation }}

    <section>
      <h2 class="featurette-heading mt-5 mb-5">
        Die Videos der Orgel der Lutherkirche Plauen
      </h2>
    </section>

    <div class="container-xl">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="iframe">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/K8AKH6rVZ5k"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <section>
      <h2 class="featurette-heading mt-5 mb-5">
        Orgelabbau
      </h2>
    </section>

    <div class="container-xl">
      <div class="row">
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/i4DDXMj5kJU" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/7x_18QiPgKU" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <iframe 
            width="560" 
            height="315"
            src="https://www.youtube.com/embed/QNI9F0M2tb4" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/GyUBJMuvtyc" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/j6a9Xbe3d6w" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/tqojt7K8bo8" 
            title="YouTube video player" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            ></iframe>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/wPDKfuquYq4" 
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-6">
          <iframe 
          width="560" 
          height="315" 
          src="https://www.youtube.com/embed/gqc2I22kqzQ" 
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
        ></iframe>
        </div>
      </div>

      <div class="text-center text-warning mt-5 mb-5">
        <p>Weitere Videos und Predigten der Lutherkirche Plauen, finden sie auf
        dem Youtube-Kanal der Lutherkirche Plauen,</p>
        <a
          href="https://www.youtube.com/channel/UCOydpEyRZ3Zlz-KRvqszmjQ/videos"
          class="btn btn-primary"
          target="_blank"
          rel="noreferrer noopener"
          >hier</a
        >
      </div>
    </div>

{{> footer }}
