{{> admin-header }}

  <div class="min-vh-100 pt-5">
    {{> admin-navigation }}

    <div class="container-xl mt-3">

      {{# isSuccess }}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {{/ isSuccess }}

      <h1>Beitrag bearbeiten</h1>

      <div>
        <hr class="featurete-divider">
      </div>

      {{# post }}
      <form action="/posts/update" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="postTitle" class="form-label">Titel:</label>
          <input type="text" 
            name="title"
            value="{{ getTitle }}"
            class="form-control" 
            id="postTitle" 
            required
          >
        </div>

        <div class="mb-3">
          <label for="default-editor" class="form-label">Beschreibung:</label>
          <textarea 
            name="content" 
            class="form-control" 
            id="default-editor" 
            rows="10"
          >
          {{ getContent }}
          </textarea>
        </div>

        <div class="form-check form-switch">
          <label for="on-mainpage" class="form-check-label">Auf der Hauptseite anzeigen. 
          </label>

          {{# onMainpage }}
          <input class="form-check-input" type="checkbox" name="on_mainpage" role="switch" id="on-mainpage" checked>
          {{/ onMainpage }}
          {{^ onMainpage }}
          <input class="form-check-input" type="checkbox" name="on_mainpage" role="switch" id="on-mainpage">
          {{/ onMainpage }}

        </div>

        <div class="form-check form-switch">
          <label for="publish" class="form-check-label">Veröffentlichen. Wenn nicht aktiviert, wird der Beitrag nicht öffentlich angezeigt.
            Dies ist nützlich wenn sie ein Beitrag noch Bearbeiten, Speichern aber noch nicht veröffentlichen wollen.
          </label>

          {{# isPublished }}
          <input class="form-check-input" type="checkbox" name="is_published" role="switch" id="publish" checked>
          {{/ isPublished }}
          {{^ isPublished }}
          <input class="form-check-input" type="checkbox" name="is_published" role="switch" id="publish">
          {{/ isPublished }}

        </div>
        
        <div>
          <hr class="featurete-divider">
        </div>

        <button class="btn btn-primary" type="submit">Speichern</button>

        <input type="hidden" name="id" value="{{ getId }}">
        <input type="hidden" name="slug" value="{{ getSlug }}">
        <input type="hidden" name="published_at" value="{{ getPublishedAt }}">
        <input type="hidden" name="created_at" value="{{ getCreatedAt }}">
        <input type="hidden" name="updated_at" value="{{ getUpdatedAt }}">
      </form>
      {{/ post }}

    </div>
  </div>

{{> admin-footer }}